/* .menuList {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: white;
    height: 100vh;
    width: 180px;
    position: absolute;
    
    overflow-y: auto;

}

.menuItem {
    margin-bottom: 16px;
}

.menuLink {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.menuLink:hover {
    background-color: #444;
    color: #ddd;
} */


.sidebarNav {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #fff;
    letter-spacing: 0.5px;
}

.menuList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menuItem {
    margin-bottom: 12px;
}

.menuLink {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.menuLink:hover {
    background-color: #333;
    color: #fff;
}